*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


nav{
    position: relative;
    background: #d297b1;
    height: 30px;
    width: 100%;
}

label.logo{

    color: #261839;
    font-size: 25px;
    line-height: 30px;
    padding: 0 50px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 25px;
    margin: 0 5px;
}

nav ul li a{
    color: #261839;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a:hover{
    background: #ba7c97;
    transition: .5s;
}